<div class="col-md-12">
  <div class="jumbotron">
    <h1>Suivi Clients</h1>
    <p>Ce site permet à l'equipe de support d'avoir un suivi pour chaque client.</p>
    <p><%= link_to "Create Account", new_user_path, class: 'btn btn-primary btn-lg' %></p>
    <p><%= link_to("Logout", :action => 'logout') %></p>
  </div>
</div>